.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkslategray;
  color: lightcyan;
  padding-bottom: 1em;
  align-items: center;
}

.logoSection {
  display: flex;
  flex-direction: row;
  img {
    height: 40px;
    padding: 20px 0 0 20px;
  }
}

.linkSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.5em;
  padding: 20px 0 0 0;
  font-size: 1em;
  color: cadetblue;
  text-shadow: 2px 2px 4px black;
  span:hover {
    color: white;
    cursor: pointer;
  }
}

.avatarSection {
  display: grid;
  place-items: center;
  height: 100%;
  img {
    width: 50px;
    padding: 20px 20px 00;
  }
}
